@import '../abstracts/mixins';
@import"../../../node_modules/animatewithsass/properties";

@import "../../../node_modules/animatewithsass/_fading-entrances/fadeIn.scss";

// .mainContent{
//   width:100%;
//   height:130rem;
//   // @include respond (android-phone){
//   //   width:350px;
//   // }
//   // @include respond (small-android){
//   //   width:320px;
//   // }
// }
.artistDetails{
margin:0 auto;
margin-top:-15rem;
// margin-left:5rem;
display:grid;
width:100%;
grid-template-columns:3fr 1fr;
@include respond(tab-land){
  margin-top:0;
  margin-left:0rem;
  width:90%;
  grid-template-columns: 1fr;

  
}
@include respond (android-phone){
grid-template-columns: 1fr;
width:100%;
text-align: center;
margin-left:0;
// margin-top:3rem;
}
  
}
.artistCoverArt{
	height: 10rem;
	width: 10rem;
	border-radius: 0.8rem;
  border: 1px solid rgba(151,151,151,0.28);
}


.artistInfo {
font-family: var(--font-display-3);
font-size:4rem;
padding-left:0.5rem;
margin-top:17rem;

@include respond(tab-land){
  margin-top:2.5rem;
}

}
.artistInfo h1{
  margin-top:-3rem;
font-size:3rem;
font-weight:300;
font-family: var(--font-display-2);	
@include respond(tab-land){
  font-size:2rem;
  margin-top:0rem;
  margin-left:0rem;
  text-align: center;
}

}
.artistInfo h5{
  font-size:1.8rem;
  font-weight:500;
  font-style:italic;
  font-family:var(--default-font)
}

.infoTable {
  font-family:var(--default-font);
	width:100%;
  box-sizing:border-box;
	border: 1px solid rgba(212,222,226,0.31);
	border-radius: 4px;
	background-color: #FFFFFF;
	box-shadow: var(	--box-shadow-1);
    border-collapse: collapse;
  margin:2.5rem auto;
  @include fadeIn(

    $duration: 5s,
    $count: 1,
    $delay: .3s,
    $function: ease, 
    $fill: both
  );

@include respond (tab-port){
  padding: 0.1rem;
}
}

.tableTitle{
  text-align:left;
  color:var(	--grey-color-1);
  padding:1rem 3rem;
  font-weight:500;
  font-family:var(--default-font);
  font-size:12px;
  border-bottom:1px solid #D4DEE2;
  @include respond(tab-land){
    top:-6rem;
   
  }
  @include respond (android-phone){
    padding:0.5rem 0.2rem;
    font-size:1rem;
  } 
  @include respond (small-android){
    font-size:0.5rem;
  } 
}
.infoTable td{
  table-layout: fixed;
  text-align:left;
  padding:1rem 3rem;
  font-size:1.4rem;
  border-bottom:1px solid #D4DEE2;
  //  @include respond (android-phone){
  //    padding:0.5rem 0.2rem;
  //  } 

  @include respond(tab-land){
   
    font-size:1rem;
  }
  @include respond (phone){
    padding:0.5rem 0.2rem;
    font-size:1rem;
  }
   @include respond (small-android){
    padding:0.5rem 0.2rem;
    font-size:1rem;
  } 

}
.artistBold{
  font-weight:bold;
}
.darkBtn{
  color:#000;
  background:rgba(212,222,226,0.53);
}
.approve_button{
   height: 29px;
  width: 113px;
  border-radius: 3px;
  background-color: #000000;
  color:var(--color-white);
  border:none;
  position:relative;
  &:hover{
    background: green;
  }
   @include respond(tab-land){
    font-size:1.4rem;
  }
  @include respond (android-phone){
 width:70px;
  }
   @include respond (small-android){
    width:50px;
  } 

  //  @include respond (android-phone){
  // width:48px;
  // right:20px;
  // } 
  // @include respond (small-android){
  //   width:48px;
  //   right:26px;
  //   } 
}
.searchInput{
  text-align:left !important;
  margin-top:13rem;
  height: 308px;	
  width: 208px;
  // margin-left:75rem;
 height:5rem;
//   padding:1.5rem 2rem;o;
width:auto;
  text-align: center;
  @include respond(tab-land){
    
    margin:1rem auto;
  }
 
}
.uploaded{
  height: 16px;
  width: 176x;
  color: #000000;
  font-family: var(--default-font);
  font-size: 13px;
  line-height: 16px;

}
.region{
  height: 16px;
  width: 121px;
  color: #000000;
  font-family: var(--default-font);
  font-size: 13px;
  line-height: 16px;

}